
<div style="background-color: #eee;" ng-controller="LogInController">
      <form class="form-signin">
        <h2 class="form-signin-heading">Please log in</h2>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" id="inputEmail" class="form-control" ng-model="username" placeholder="Email address" required autofocus="" oninvalid="if(typeof(Worker) !== 'undefined'){this.setCustomValidity('Please enter a valid email address.');}" onchange=" if(typeof(Worker) !== 'undefined'){this.setCustomValidity('');}" pattern="^[a-zA-Z0-9_+.-]+\@([a-zA-Z0-9-]+\.)+[a-zA-Z0-9]{2,4}$">
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" ng-model="password" class="form-control" placeholder="Password" required>
        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="validateUser()">Log in</button>
      </form>

</div>