<!DOCTYPE html>
<html lang="en" ng-app="myApp" ng-controller="MyCtrl">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title >{{ $Page.title()}}</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="css/push-menu.css" rel="stylesheet" />
    <link href="css/style.css" rel="stylesheet" />
    
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body >
  	<div class="container">
	      <!-- Static navbar -->
	      <nav class="navbar navbar-default">
	        <div class="container-fluid">
	          <div class="navbar-header">
	            <button type="button" class="navbar-toggle visible-xs" style="margin-left:15px;float:left;" data-toggle="push" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
	              <span class="sr-only">Toggle navigation</span>
	              <span class="icon-bar"></span>
	              <span class="icon-bar"></span>
	              <span class="icon-bar"></span>
	            </button>
	            <a class="navbar-brand" href="#">Project name</a>
	          </div>
	          <div id="navbar">
	            <ul class="nav navbar-nav">
	              <li class="active"><a href="" ng-click="home()">Home</a></li>
	              <li><a href="" ng-click="about()">About</a></li>
	              <li><a href="" ng-click="contact()">Contact</a></li>
	              <li class="dropdown">
	                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Products <span class="caret"></span></a>
	                <ul class="dropdown-menu" role="menu">
	                  <li><a href="" ng-click="converters()">Converters</a></li>
	                  <li><a href="#">BB</a></li>
	                  <li><a href="#">CC</a></li>
	                  <li class="divider"></li>
	                  <li class="dropdown-header">RR</li>
	                  <li><a href="#">TT</a></li>
	                  <li><a href="#">YY</a></li>
	                </ul>
	              </li>
	            </ul>
	            <ul class="nav navbar-nav navbar-right">
	              <li><a href="" ng-click="search()">Search <span class="sr-only">(current)</span></a></li>
	              <li><a href="" ng-click="login()">Log In</a></li>
	            </ul>
	          </div><!--/.nav-collapse -->
	        </div><!--/.container-fluid -->
	      </nav>
	      <!-- Main component for a primary marketing message or call to action -->
	      <div ui-view></div>	  
    </div> 
	<!-- /container -->    

    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/push-menu.js"></script>
    <script src="js/angular.min.js"></script>
	<script src="js/angular-ui-router.min.js"></script>
	<script src="js/myApp.js"></script>
	<script src="js/MyCtrl.js"></script>
	<script type="text/javascript">
		$(document).ready(function () {
			$('#navbar li a').click(function(e) {				
		        $('#navbar li').removeClass('active');
		        var $parent = $(this).parent();
		        if (!$parent.hasClass('active')) {
		            $parent.addClass('active');
		        }
		        e.preventDefault();
		    });
			
			
			
			
		});
		
	</script>
  </body>
</html>